############################
# Java / Spring Boot
############################
target/
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.out

############################
# Maven
############################
.mvn/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
!**/src/main/**/target/
!**/src/test/**/target/

############################
# Build directories
############################
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

############################
# IDEs
############################

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

# NetBeans
nbproject/private/

# VS Code
.vscode/

############################
# OS / Misc
############################
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

############################
# Environment files
############################
.env
.env.*
